{% extends 'base.html' %} 
{% block content %}

<!-- <h1>Customer Record</h1> -->
<div class="card">
    <div class="card-header">
      <h5 class="font-monospace pt-1">
        <strong>Name:</strong> {{customer_record.first_name}} {{customer_record.last_name}}
      </h5>
    </div>

      <p class="card-text pt-2 px-3 text-dark fw-normal">
        <strong>Email:</strong> {{customer_record.email}} 
      </p> 

      <p class="card-text px-3 text-dark fw-normal">
        <strong>Phone:</strong> {{customer_record.phone}} 
      </p>
      
      <p class="card-text px-3 text-dark fw-normal">
        <strong>Address:</strong> {{customer_record.address}} 
      </p>

      <p class="card-text px-3 text-dark fw-normal">
        <strong>City:</strong> {{customer_record.city}} 
      </p>

      <p class="card-text px-3 text-dark fw-normal">
        <strong>State:</strong> {{customer_record.state}} 
      </p>

      <p class="card-text px-3 text-dark fw-normal">
        <strong>ZIPCode:</strong> {{customer_record.zipcode}} 
      </p>

      <p class="card-text px-3 text-dark fw-normal">
        <strong>Created At:</strong> {{customer_record.created_at}} 
      </p>

      <p class="card-text pb-2 px-3 text-dark fw-normal">
        <strong>ID:</strong> {{customer_record.id}}  
      </p>
    
  </div>

<br/> 

<a href="{% url 'home' %}" class="btn btn-primary">Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-dark">Update Record</a>

{% endblock %}