{% extends 'base.html' %} 
{% block content %}

<!-- <h1>Customer Record</h1> -->
<div class="card">
    <div class="card-header">
      <h5 class="font-monospace pt-1">
        <strong>Name:</strong> {{customer_record.first_name}} {{customer_record.last_name}}
      </h5>
    </div>
      <p class="card-text pb-2 pt-2 px-3 text-dark fw-normal">

        <strong>Email:</strong> {{customer_record.email}} </p> 

        <strong>Phone:</strong> {{customer_record.phone}} <br/> 

        <strong>Address:</strong> {{customer_record.address}} <br/>

        <strong>City:</strong> {{customer_record.city}} <br/>

        <strong>State:</strong> {{customer_record.state}} <br/>

        <strong>ZIPCode:</strong> {{customer_record.zipcode}} <br/>

        <strong>Created At:</strong> {{customer_record.created_at}} <br/>
      <p class="card-text pb-2 pt-2 px-3 text-dark fw-normal">
        <strong>ID:</strong> {{customer_record.id}}  
      </p>
    
  </div>

<!-- {{customer_record.first_name}} {{customer_record.last_name}} <br/>
{{customer_record.email}} <br/>
{{customer_record.phone}} <br/>
{{customer_record.address}} <br/>
{{customer_record.city}} <br/>
{{customer_record.state}} <br/>
{{customer_record.zipcode}} <br/>
{{customer_record.created_at}} <br/>
{{customer_record.id}} <br/> -->

{% endblock %}